/**
 * Return proper color depending on background.
 *
 * @param  {color} $color The background color
 * @param  {color} $light The text if BG is light
 * @param  {color} $dark  The text if BG is dark
 * @return {color}        The color of the text depending on background.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7; }

*, *:before, *:after {
  box-sizing: inherit; }

body.admin-bar {
  padding-top: 32px; }
  @media (max-width: 782px) {
    body.admin-bar {
      padding-top: 46px; } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden; }

/**
 * Since this is dashboard layout we need 100% width on all
 * elements, so there is no empty space left.
 */
.row {
  max-width: 100%;
  width: 100%; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  text-decoration: none; }
  a:hover {
    color: #4072db;
    text-decoration: underline; }

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0; }

blockquote {
  font-style: italic; }

hr {
  height: 1px;
  border: none;
  width: 100%;
  background: #f0f0f0; }

img.alignright {
  margin: 20px 0 20px 20px; }

img.alignleft {
  margin: 20px 20px 20px 0; }

img.aligncenter {
  margin: 20px auto; }

img {
  max-width: 100%;
  height: auto; }

/**
 * Required classes by WordPress. To pass the theme check
 * stylings to those must be applied, since the SASS watch
 * script is skipping classes that have no properties.
 */
.sticky {
  display: block; }

.bypostauthor {
  display: block; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

ol, ul {
  margin: 0;
  padding: 0px 20px; }

ol {
  counter-reset: item; }
  ol li {
    box-sizing: inherit;
    list-style-type: decimal; }

.content-line ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .content-line ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em; }
    .content-line ol > li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 5px; }

.content-line li ol > li {
  margin: 0; }
  .content-line li ol > li:before {
    content: counters(item, ".") " ";
    padding-right: 5px; }

.content-line li ul > li {
  margin: 0; }
  .content-line li ul > li:before {
    content: "\2022";
    padding-right: 5px; }

.content-line li > ul,
.content-line li > ol {
  margin-bottom: 0;
  margin-left: 27px;
  padding: 0; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

#content[tabindex="-1"]:focus {
  outline: 0; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: hidden; }

.gallery-item img {
  display: block; }

.gallery-columns-1 .gallery-item {
  max-width: 100%; }

.gallery-columns-1.gallery-size-thumbnail .gallery-item,
.gallery-columns-2.gallery-size-thumbnail .gallery-item,
.gallery-columns-3.gallery-size-thumbnail .gallery-item,
.gallery-columns-4.gallery-size-thumbnail .gallery-item,
.gallery-columns-5.gallery-size-thumbnail .gallery-item,
.gallery-columns-6.gallery-size-thumbnail .gallery-item,
.gallery-columns-7.gallery-size-thumbnail .gallery-item {
  width: auto; }

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(50% - 4px); }

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(33.3% - 4px); }

.gallery-columns-3.gallery-size-thumbnail img {
  width: 100%; }

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(25% - 4px); }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(20% - 4px); }

.gallery-columns-5.gallery-size-thumbnail {
  margin-left: calc(50% - 393px); }

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(16.7% - 4px); }

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(14.28% - 4px); }

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(12.5% - 4px); }

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(11.1% - 4px); }

.gallery-size-medium img,
.gallery-size-large img {
  max-width: none; }

.gallery-size-medium .gallery-item,
.gallery-size-large .gallery-item {
  max-height: 235px;
  overflow: hidden; }

.gallery-columns-2.gallery-size-large .gallery-item {
  max-height: 350px;
  overflow: hidden; }

.gallery-columns-1.gallery-size-large .gallery-item,
.gallery-columns-1.gallery-size-full .gallery-item {
  max-height: none; }

.gallery-size-full img {
  max-width: none; }

.gallery-size-full .gallery-item {
  max-height: 300px;
  overflow: hidden; }

.gallery-size-full a,
.gallery-size-medium a,
.gallery-size-large a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.gallery-columns-3.gallery-size-medium {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left; }

.gallery-size-thumbnail .gallery-caption {
  height: 55%;
  overflow: hidden; }

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%; }

.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.gallery-item:hover .gallery-caption {
  opacity: 1; }

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

figure {
  margin: 2px; }

.inputs, button,
input,
select,
textarea, .site-branding .site-search {
  display: block;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

input[type="search"] {
  padding: 5px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em;
  padding: 20px;
  background-position: 20px 15px;
  font-size: 18px;
  color: #838383;
  font-weight: 100; }
  blockquote:before {
    color: #838383;
    content: "\f10e";
    font-family: FontAwesome;
    margin-left: -40px;
    position: absolute;
    font-size: 12px; }
  blockquote p {
    border-left: 1px solid #efefef;
    padding-left: 20px; }

cite {
  text-transform: uppercase;
  padding-left: 80px; }
  cite:before {
    content: "\2014 \2009"; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

table {
  font-size: 14px;
  line-height: 1.3;
  margin: 20px 0; }
  table thead {
    background: #f8f8f8; }
    table thead th {
      padding: 10px; }
  table td {
    padding: 20px 10px; }
  table tr {
    border-bottom: 1px solid #eee;
    transition: 0.2s; }
  table tr:hover {
    background-color: #fafafa;
    transition: 0s; }

/**
 * Place ul element in the middle of its parent. The structure
 * .center-ul > ul must be followed in order to work. (uds)
 */
.center-ul {
  text-align: center; }
  .center-ul > ul {
    display: inline-block; }

/**
 * WordPress required styling
 */
.float-right {
  float: right; }

.float-left {
  float: left; }

.no-float,
.flost-none {
  float: none; }

.is-hidden {
  display: none; }

.cb {
  clear: both; }

hr.clear {
  border: none;
  background: transparent;
  clear: both; }

/**
 * Text Modifiers
 */
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.text-italic {
  font-style: italic; }

.text-white {
  color: white; }
  .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
    color: white; }
  .text-white a {
    color: white; }
  .text-white a:hover {
    color: white; }

/**
 * Quick margin classes
 */
.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-90 {
  margin-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

/**
 * Helpful on .columns classes
 */
.position-initial {
  position: initial; }

.foundation-mq {
  font-family: "small=0em&medium=32em&large=64em&xlarge=75em&xxlarge=90em"; }

.row {
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto; }
  .row .row,
  .column-row .row {
    margin-left: -0.625rem;
    margin-right: -0.625rem; }

.column,
.columns {
  -ms-flex: 1 1 0px;
      flex: 1 1 0px;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.small-1 {
  -ms-flex: 0 0 8.3333333333%;
      flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.small-2 {
  -ms-flex: 0 0 16.6666666667%;
      flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.small-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%; }

.small-4 {
  -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.small-5 {
  -ms-flex: 0 0 41.6666666667%;
      flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.small-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%; }

.small-7 {
  -ms-flex: 0 0 58.3333333333%;
      flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.small-8 {
  -ms-flex: 0 0 66.6666666667%;
      flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.small-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%; }

.small-10 {
  -ms-flex: 0 0 83.3333333333%;
      flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.small-11 {
  -ms-flex: 0 0 91.6666666667%;
      flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.small-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 32em) {
  .medium-1 {
    -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .medium-2 {
    -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .medium-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .medium-4 {
    -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .medium-5 {
    -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .medium-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .medium-7 {
    -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .medium-8 {
    -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .medium-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .medium-10 {
    -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .medium-11 {
    -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .medium-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 64em) {
  .large-1 {
    -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .large-2 {
    -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .large-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .large-4 {
    -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .large-5 {
    -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .large-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .large-7 {
    -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .large-8 {
    -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .large-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .large-10 {
    -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .large-11 {
    -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .large-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 32em) {
  .medium-expand {
    -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

@media screen and (min-width: 64em) {
  .large-expand {
    -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

.shrink {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto; }

.row.medium-unstack .column {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  @media screen and (min-width: 32em) {
    .row.medium-unstack .column {
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; } }

.row.large-unstack .column {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  @media screen and (min-width: 64em) {
    .row.large-unstack .column {
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; } }

.small-order-1 {
  -ms-flex-order: 1;
      order: 1; }

.small-order-2 {
  -ms-flex-order: 2;
      order: 2; }

.small-order-3 {
  -ms-flex-order: 3;
      order: 3; }

.small-order-4 {
  -ms-flex-order: 4;
      order: 4; }

.small-order-5 {
  -ms-flex-order: 5;
      order: 5; }

.small-order-6 {
  -ms-flex-order: 6;
      order: 6; }

@media screen and (min-width: 32em) {
  .medium-order-1 {
    -ms-flex-order: 1;
        order: 1; }
  .medium-order-2 {
    -ms-flex-order: 2;
        order: 2; }
  .medium-order-3 {
    -ms-flex-order: 3;
        order: 3; }
  .medium-order-4 {
    -ms-flex-order: 4;
        order: 4; }
  .medium-order-5 {
    -ms-flex-order: 5;
        order: 5; }
  .medium-order-6 {
    -ms-flex-order: 6;
        order: 6; } }

@media screen and (min-width: 64em) {
  .large-order-1 {
    -ms-flex-order: 1;
        order: 1; }
  .large-order-2 {
    -ms-flex-order: 2;
        order: 2; }
  .large-order-3 {
    -ms-flex-order: 3;
        order: 3; }
  .large-order-4 {
    -ms-flex-order: 4;
        order: 4; }
  .large-order-5 {
    -ms-flex-order: 5;
        order: 5; }
  .large-order-6 {
    -ms-flex-order: 6;
        order: 6; } }

.row.align-right {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.row.align-center {
  -ms-flex-pack: center;
      justify-content: center; }

.row.align-justify {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.row.align-spaced {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.row.align-top {
  -ms-flex-align: start;
      align-items: flex-start; }

.column.align-top {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.row.align-bottom {
  -ms-flex-align: end;
      align-items: flex-end; }

.column.align-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.row.align-middle {
  -ms-flex-align: center;
      align-items: center; }

.column.align-middle {
  -ms-flex-item-align: center;
      align-self: center; }

.row.align-stretch {
  -ms-flex-align: stretch;
      align-items: stretch; }

.column.align-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.menu-primary-footer {
  text-align: center;
  padding-top: 60px; }
  @media (max-width: 480px) {
    .menu-primary-footer {
      display: none; } }
  .menu-primary-footer .menu-item {
    display: inline-block;
    position: relative;
    margin: 0 17px;
    font-weight: bold;
    padding-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #353535;
    font-size: 12px;
    letter-spacing: 2px; }
    @media (max-width: 480px) {
      .menu-primary-footer .menu-item {
        width: 100%;
        text-align: center;
        margin: 0; }
        .menu-primary-footer .menu-item .dropdown-arrow,
        .menu-primary-footer .menu-item .sub-menu {
          display: none; } }
    .menu-primary-footer .menu-item.current_page_item a {
      color: #adadad; }
    .menu-primary-footer .menu-item a {
      color: #000; }
      .menu-primary-footer .menu-item a:hover {
        color: #aeaeae; }

.site-info {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 15px 0 70px;
  padding: 9px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #afafaf; }
  @media (max-width: 480px) {
    .site-info {
      margin: 15px 0 30px; } }
  .site-info a {
    color: #000 !important; }
    .site-info a:hover {
      color: #aeaeae; }
    @media (max-width: 480px) {
      .site-info a {
        display: block; } }
  @media (max-width: 480px) {
    .site-info .sep {
      display: none; } }
  @media (max-width: 480px) {
    .site-info a:last-of-type {
      display: initial; } }

.sub-menu {
  padding: 0px; }

.entry-infos {
  display: inline-block;
  margin-right: 0; }

.site-header {
  position: relative;
  border-bottom: 1px solid #f0ede5;
  background: #fff;
  margin-bottom: 50px;
  padding: 20px 0 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (min-width: 480px) and (max-width: 960px) {
    .site-header {
      display: block;
      text-align: center; } }
  @media (max-width: 480px) {
    .site-header {
      margin-bottom: 5px;
      padding: 0; }
      .site-header .site-logo {
        text-align: left; } }

.site-description {
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: none; }

.site-branding {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  display: inline-block;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .site-branding {
      -ms-flex: 100%;
          flex: 100%;
      width: 100%; } }
  @media (max-width: 960px) {
    .site-branding {
      -ms-flex: 100%;
          flex: 100%;
      width: 100%; } }
  .site-branding .site-logo {
    width: 75%;
    display: inline-block; }
    @media (max-width: 960px) {
      .site-branding .site-logo {
        width: 100%;
        display: block;
        text-align: left; } }
    .site-branding .site-logo .site-title {
      display: inline-block;
      margin-right: 10px;
      line-height: normal;
      margin-bottom: 8px; }
      .site-branding .site-logo .site-title a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px; }
      @media (max-width: 960px) {
        .site-branding .site-logo .site-title {
          margin: 0; } }
  .site-branding .site-search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-left: 5px; }
    .site-branding .site-search form {
      margin-left: 13px;
      width: 80%;
      display: inline-block; }
      .site-branding .site-search form input {
        width: auto; }
    .site-branding .site-search .search-field {
      border: 0px;
      background: transparent;
      font-size: 12px; }
      .site-branding .site-search .search-field:focus {
        outline: none; }
    .site-branding .site-search .search-submit {
      display: none; }
    @media (max-width: 960px) {
      .site-branding .site-search {
        min-width: 175px; } }
    @media (max-width: 640px) {
      .site-branding .site-search {
        display: none; } }

@media (min-width: 640px) {
  .long-menu .site-header {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-top: 0;
    padding-top: 0; }
    .long-menu .site-header .site-logo {
      -ms-flex-direction: column;
          flex-direction: column; }
    .long-menu .site-header .main-navigation,
    .long-menu .site-header .menu-primary-container,
    .long-menu .site-header .menu {
      width: 100%; }
    .long-menu .site-header .menu,
    .long-menu .site-header .menu > ul {
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .long-menu .site-header .menu-item,
    .long-menu .site-header .page_item {
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
      text-align: center; }
      .long-menu .site-header .menu-item a,
      .long-menu .site-header .page_item a {
        display: block; }
      .long-menu .site-header .menu-item .menu-item,
      .long-menu .site-header .menu-item .page_item,
      .long-menu .site-header .page_item .menu-item,
      .long-menu .site-header .page_item .page_item {
        text-align: left; }
      .long-menu .site-header .menu-item:first-child,
      .long-menu .site-header .page_item:first-child {
        margin-left: 0; }
    .long-menu .site-header .site-branding {
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 20px 0;
      -ms-flex: 100%;
          flex: 100%;
      width: 100%; }
      .long-menu .site-header .site-branding .site-logo {
        -ms-flex: 80%;
            flex: 80%;
        width: 80%;
        display: block; }
      .long-menu .site-header .site-branding .site-search {
        -ms-flex: 20%;
            flex: 20%;
        width: 20%; } }

/**
 * The standard section wrapper. Use this with other classes for the base styling.
 */
.nav-links {
  display: inline-block;
  width: 100%;
  margin-top: 30px; }
  .nav-links .nav-next, .nav-links .nav-previous {
    display: inline-block;
    width: 49%;
    word-wrap: break-word; }
    .nav-links .nav-next a, .nav-links .nav-previous a {
      color: #000;
      margin: 0 6px; }
      .nav-links .nav-next a:hover, .nav-links .nav-previous a:hover {
        color: #aeaeae !important; }
  .nav-links .nav-previous:before {
    content: "\f100";
    font-family: FontAwesome; }
  .nav-links .nav-next {
    text-align: right;
    float: right; }
    .nav-links .nav-next:after {
      content: "\f101";
      font-family: FontAwesome; }

a:link, a:focus, a:visited {
  color: #4072db; }

/* =Comments
-------------------------------------------------------------- */
.comments-title {
  margin: 0 20px 50px;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  text-align: center; }

.comment-list > li.comment {
  border-bottom: 5px solid #F7F7F7;
  list-style-type: none; }

.comments-area {
  margin-top: 50px;
  padding: 25px 0;
  border-top: 4px solid gainsboro;
  font-size: 14px; }
  .comments-area article {
    margin: 24px 0;
    margin: 1.714285714rem 0; }
    .comments-area article header {
      margin: 0 0 48px;
      margin: 0 0 3.428571429rem;
      overflow: hidden;
      position: relative; }
      .comments-area article header img {
        float: left;
        padding: 0;
        line-height: 0; }
      .comments-area article header cite, .comments-area article header time {
        display: block;
        margin-left: 85px;
        margin-left: 6.071428571rem; }
      .comments-area article header cite {
        font-style: normal;
        font-size: 15px;
        font-size: 1.071428571rem;
        line-height: 1.42857143; }
        .comments-area article header cite a {
          color: #444; }
          .comments-area article header cite a:hover {
            text-decoration: underline; }
      .comments-area article header time {
        line-height: 1.714285714;
        text-decoration: none;
        font-size: 12px;
        font-size: 0.857142857rem;
        color: #5e5e5e; }
      .comments-area article header a {
        text-decoration: none;
        color: #5e5e5e; }
        .comments-area article header a:hover {
          color: #21759b; }
    .comments-area article h4 {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 12px;
      padding: 0.428571429rem 0.857142857rem;
      font-size: 12px;
      font-size: 0.857142857rem;
      font-weight: normal;
      color: #fff;
      background-color: #0088d0;
      background-repeat: repeat-x;
      background-image: linear-gradient(top, #009cee, #0088d0);
      border-radius: 3px;
      border: 1px solid #007cbd; }
  .comments-area cite b {
    font-weight: normal; }
  .comments-area .bypostauthor cite span {
    position: absolute;
    margin-left: 5px;
    margin-left: 0.357142857rem;
    padding: 2px 5px;
    padding: 0.142857143rem 0.357142857rem;
    font-size: 10px;
    font-size: 0.714285714rem; }
  .comments-area .bypostauthor cite b {
    font-weight: bold; }

a.comment-reply-link,
a.comment-edit-link {
  color: #686868;
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846; }
  a.comment-reply-link:hover,
  a.comment-edit-link:hover {
    color: #21759b; }

.commentlist .pingback {
  line-height: 1.714285714;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem; }

.reply {
  margin-left: 40px; }
  .reply a {
    background: #000;
    border: 0;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px; }

.comment-content {
  margin-left: 40px; }
  .comment-content p {
    color: #6b6b6b;
    line-height: 2em;
    margin: 16px 0; }

.comment-metadata {
  margin-left: 41px;
  font-size: 12px;
  margin-top: -16px; }
  .comment-metadata a {
    color: gray; }

.no-content {
  text-align: center; }

.comment-author {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400; }
  .comment-author .fn {
    margin-top: -7px;
    font-weight: 400; }
  .comment-author img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid gainsboro;
    margin-right: 5px; }
  .comment-author a {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400; }
  .comment-author .says {
    display: none; }

.site {
  overflow-x: hidden; }

.page-title {
  text-decoration: none;
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px; }

/* Comment form */
#respond {
  margin-top: 48px;
  margin-top: 3.428571429rem; }
  #respond h3#reply-title {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px; }
  #respond h3#reply-title #cancel-comment-reply-link {
    margin-left: 10px;
    font-weight: normal;
    font-size: 12px; }
  #respond form p {
    margin: 0;
    background: #F1F1F1;
    padding: 20px 20px 0px; }
  #respond form p.comment-notes {
    padding: 0;
    background: none; }
  #respond form p.logged-in-as {
    padding: 0 20px;
    background: none; }
  #respond form p.form-submit {
    padding: 20px; }
  #respond form p.logged-in-as {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem; }
  #respond form label {
    display: block;
    line-height: 1.714285714; }
  #respond form form input[type="text"] form input[type="search"],
  #respond form form textarea {
    box-sizing: border-box;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    padding: 10px;
    padding: 0.714285714rem;
    width: 100%; }
  #respond form p.form-allowed-tags {
    margin: 0;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    color: #5e5e5e; }

.required {
  color: red; }

.widget-area {
  padding: 20px;
  border-left: 1px solid #fbfbfb; }
  @media (max-width: 480px) {
    .widget-area {
      border-left: none; } }

.widget {
  margin-bottom: 60px; }
  @media (max-width: 480px) {
    .widget:last-of-type {
      margin-bottom: 0; } }
  .widget .widget-title {
    padding: 15px 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #252525;
    border-bottom: 2px solid #f1f1f1;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .widget ul {
    list-style-type: disc;
    padding: 0;
    margin-left: 17px;
    color: #b7b7b7; }
    .widget ul li {
      font-size: 14px;
      margin-bottom: 6px; }
      .widget ul li a {
        color: #676767; }
  .widget .search-form {
    display: -ms-flexbox;
    display: flex; }
    .widget .search-form label {
      -ms-flex: 1 1 75%;
          flex: 1 1 75%; }
    .widget .search-form .search-submit {
      -ms-flex: 1 1 25%;
          flex: 1 1 25%; }

table#wp-calendar {
  width: 100%; }
  table#wp-calendar caption {
    padding-bottom: 20px;
    font-weight: bold; }
  table#wp-calendar td#next {
    text-align: right; }

.featherlight-content .caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  font-size: 14px; }

.entry .entry-content.entry-content--slider {
  float: left;
  width: 45%;
  position: relative;
  z-index: 2; }
  @media (max-width: 480px) {
    .entry .entry-content.entry-content--slider {
      width: 100%; }
      .entry .entry-content.entry-content--slider .entry-meta,
      .entry .entry-content.entry-content--slider .content-line,
      .entry .entry-content.entry-content--slider .entry-title:after,
      .entry .entry-content.entry-content--slider .entry-category-wrapper {
        display: none; } }
  .entry .entry-content.entry-content--slider .content-line {
    padding: 0;
    font-size: 14px;
    line-height: 29px;
    border: none;
    width: 100%;
    max-width: 340px;
    float: left;
    margin-top: 0; }
    @media (max-width: 1024px) {
      .entry .entry-content.entry-content--slider .content-line {
        max-width: 70%; } }
  .entry .entry-content.entry-content--slider .entry-title {
    text-align: left;
    background: white;
    padding: 15px 15px 15px 0;
    position: relative;
    margin-bottom: 12px;
    width: auto;
    display: inline-block;
    float: left; }
    @media (max-width: 480px) {
      .entry .entry-content.entry-content--slider .entry-title {
        padding: 10px;
        margin: 0;
        position: absolute;
        left: 0;
        top: 52px;
        width: 50%; }
        .entry .entry-content.entry-content--slider .entry-title a {
          font-size: 18px;
          display: block; } }
    .entry .entry-content.entry-content--slider .entry-title:after {
      content: "";
      width: 37px;
      background: #bf3535;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px; }
  .entry .entry-content.entry-content--slider .entry-meta {
    text-align: left;
    max-width: 340px;
    width: 100%;
    float: left;
    margin-bottom: 25px;
    clear: both; }
    @media (max-width: 1024px) {
      .entry .entry-content.entry-content--slider .entry-meta {
        max-width: 70%; } }
    .entry .entry-content.entry-content--slider .entry-meta .entry-comments {
      margin: 0;
      color: #919191; }
  .entry .entry-content.entry-content--slider .more-link {
    background: #f2f2f2;
    font-size: 12px;
    letter-spacing: 0;
    padding: 5px 10px;
    border-radius: 4px;
    color: #282828; }

.entry-thumbnail--slider {
  max-width: 625px;
  float: right;
  background-size: cover;
  background-position: center;
  height: 417px;
  width: 100%;
  position: absolute;
  right: 0; }
  @media (max-width: 1024px) {
    .entry-thumbnail--slider {
      max-width: 55%; } }
  @media (max-width: 480px) {
    .entry-thumbnail--slider {
      max-width: 100%;
      right: 0;
      position: initial;
      height: 50vw; } }

.entry-category-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 340px; }
  .entry-category-wrapper .entry-category {
    background: #f2f2f2;
    font-size: 12px;
    color: #a3a3a3;
    padding: 2px 4px;
    margin: 0 3px;
    float: left;
    margin-bottom: 5px; }
    @media (max-width: 1024px) {
      .entry-category-wrapper .entry-category {
        max-width: 70%; } }

.entry--feature {
  display: inline-block;
  width: 100%;
  padding: 0;
  position: relative; }
  @media (max-width: 480px) {
    .entry--feature {
      padding: 0;
      overflow: hidden; } }

.separator--feature {
  clear: both;
  height: 3px;
  background: #000;
  margin: 85px 0 50px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 480px) {
    .separator--feature {
      display: none; } }

.welcome-message {
  color: #505050;
  font-size: 14px;
  text-align: center;
  max-width: 720px;
  width: 100%;
  margin: 20px auto 75px; }
  @media (max-width: 480px) {
    .welcome-message {
      margin: 20px auto 5px;
      font-size: 12px !important; } }

.site-footer {
  border-top: 1px solid #f3f2f2;
  margin-top: 50px; }
  @media (max-width: 480px) {
    .site-footer {
      margin-top: 20px; } }

.posts-navigation {
  max-width: 729px;
  margin: 0 auto 20px; }

input {
  max-width: 100%;
  width: 100%; }
  input[type='submit'] {
    background-color: #000000;
    color: #fff;
    border: none; }

textarea,
select {
  max-width: 100%;
  width: 100%; }

/**
 * DX MOBILE MENU
 * ============================================================================
 * Basic styling and settings for the mobile menu. Edit to match each theme's
 * design.
 *
 * @version 1.1
 */
/**
 * VARIABLES
 * ============================================================================
 * Setting the menu default variables for easier tweaks.
 */
/**
 * Needs to be used when the mobile menu covers the whole screen while opened
 * and its possible to scroll inside the menu while maitaining the wrapper element's
 * positioning. Keep commented out by default.
 */
.dropdown-toggle {
  display: none; }

/**
 * Primary navigation base styling.
 * ============================================================================
 */
@media (max-width: 480px) {
  .menu-primary-container {
    margin-top: 1px !important;
    padding: 0 10px; }
  .sub-menu a {
    font-size: 12px !important; } }

.menu-toggle {
  display: inline-block;
  width: 15%;
  color: #333;
  line-height: 1;
  font-size: 26px;
  background: none;
  border: none;
  text-align: right; }
  .menu-toggle:hover {
    cursor: pointer;
    color: #4072db; }
  .menu-toggle:focus {
    outline: none; }

.main-navigation {
  text-align: right;
  /**
	 * Begin the mobile menu styling.
	 */ }
  .main-navigation .menu {
    padding: 0; }
  .main-navigation ul.menu > li {
    margin-left: 30px;
    padding-bottom: 18px; }
    @media (max-width: 640px) {
      .main-navigation ul.menu > li {
        padding-top: 0px;
        padding-bottom: 0px; }
        .main-navigation ul.menu > li a {
          padding-top: 18px;
          padding-bottom: 18px; } }
    @media (max-width: 480px) {
      .main-navigation ul.menu > li {
        margin-left: 0;
        padding-bottom: 0;
        border-bottom: none !important; }
        .main-navigation ul.menu > li a {
          padding: 0 20px; } }
  @media (max-width: 480px) {
    .main-navigation ul.menu li {
      border-bottom: none !important; } }
  .main-navigation .menu-item,
  .main-navigation .page_item {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    transition: 150ms;
    border-bottom: 2px solid #fff; }
    .main-navigation .menu-item:last-of-type,
    .main-navigation .page_item:last-of-type {
      margin-right: 0; }
    .main-navigation .menu-item a,
    .main-navigation .page_item a {
      color: black;
      font-size: 14px; }
      @media (max-width: 480px) {
        .main-navigation .menu-item a,
        .main-navigation .page_item a {
          padding: 10px 0 !important;
          text-align: left; } }
    .main-navigation .menu-item:hover, .main-navigation .menu-item.current_page_item.menu-item-home,
    .main-navigation .page_item:hover,
    .main-navigation .page_item.current_page_item.menu-item-home {
      border-bottom: 2px solid #ff6969;
      transition: 150ms; }
  .main-navigation .sub-menu ul {
    margin-left: 100%;
    margin-top: -55px; }
  @media (max-width: 640px) {
    .main-navigation .menu-item {
      border-bottom: 1px solid #f0f0f0;
      margin: 0;
      display: block; }
      .main-navigation .menu-item a {
        display: block; }
      .main-navigation .menu-item a:hover {
        color: #4072db; }
      .main-navigation .menu-item:last-of-type {
        border-bottom: none; }
    .main-navigation .sub-menu {
      display: none;
      border-top: 1px solid #ccc; }
      .main-navigation .sub-menu a {
        padding: 6px 0 !important; }
    .main-navigation .sub-menu.toggled-on {
      display: inline-block;
      width: 100%;
      margin-left: auto;
      margin-top: auto; } }

@media (max-width: 640px) {
  ul ul .dropdown-toggle {
    height: 30px !important; }
    ul ul .dropdown-toggle:after {
      font-size: 20px !important; }
  .dropdown-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    color: #1a1a1a;
    content: "";
    height: 48px;
    padding: 0;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
    width: 48px; }
    .dropdown-toggle:after {
      border: 0 solid #d1d1d1;
      border-left-width: 1px;
      content: "\f107";
      font-size: 24px;
      left: 1px;
      position: relative;
      width: 48px;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-family: FontAwesome;
      color: #000;
      line-height: 1.5;
      vertical-align: top; }
    .dropdown-toggle.toggled-on:after {
      content: "\f106" !important; }
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; } }

/**
 * Displaying the mobile menu on click.
 */
@media (max-width: 960px) {
  .main-navigation {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    width: 100%;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center; } }

@media (max-width: 640px) {
  .main-navigation {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    width: 100%;
    display: none; }
    .main-navigation.toggled {
      display: block;
      position: absolute;
      bottom: 0; }
      .main-navigation.toggled .menu-primary-container {
        position: absolute;
        box-shadow: 0 5px 5px -6px #000; }
        .main-navigation.toggled .menu-primary-container .menu-item a {
          text-align: center; }
  .menu-primary-container {
    display: none;
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 2.5rem;
    background: #fff;
    border-bottom: 1px solid #f0f0f0; }
  .is-extended .menu-primary-container {
    display: block;
    z-index: 999; }
  .is-extended .menu-primary {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; } }

/**
 * Starts the standard desktop menu styling.
 */
@media (min-width: 640px) {
  .menu-primary-container {
    display: block !important; }
  .menu-toggle {
    display: none; }
  .main-navigation .sub-menu {
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(40px); }
  .main-navigation .menu-item-has-children:hover > .sub-menu {
    display: block; }
  .main-navigation li {
    position: relative; }
  .main-navigation li:hover > .sub-menu {
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s;
    transform: translateY(0); }
  .menu-item:last-of-type .sub-menu {
    left: auto; }
  nav .sub-menu {
    position: absolute;
    border: 1px solid #ccc;
    top: calc(100% + 14px);
    background: #fff;
    max-width: 200px;
    text-align: left;
    z-index: 99; }
    nav .sub-menu:before {
      position: absolute;
      bottom: 100%;
      width: 100%;
      height: 16px;
      background: transparent;
      content: '';
      display: block; }
    nav .sub-menu a {
      display: block;
      padding: 8px 13px;
      font-weight: normal;
      color: black; }
      nav .sub-menu a:hover {
        background: transparent;
        color: #4072db; }
    nav .sub-menu li {
      width: 100%;
      border-bottom: 1px solid #f0f0f0;
      float: none;
      min-width: 200px;
      display: block; } }

/**
 * Styling the dropdown-arrow element. It takes more properties
 * so its in separate module here in the file.
 */
.menu-item-has-children {
  position: relative; }
  .menu-item-has-children .dropdown-arrow {
    height: 2.625rem;
    width: 2.625rem;
    padding: 0;
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px;
    line-height: 1.7;
    font-size: 20px; }
    .menu-item-has-children .dropdown-arrow, .menu-item-has-children .dropdown-arrow i {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      padding-top: 5px; }
  .menu-item-has-children.is-extended > .dropdown-arrow {
    transform: rotate(90deg); }
  @media (min-width: 640px) {
    .menu-item-has-children .dropdown-arrow {
      display: none; } }

.entry:last-of-type {
  margin-bottom: 0; }

.entry {
  margin-bottom: 65px; }
  @media (max-width: 480px) {
    .entry {
      margin-bottom: 30px; } }
  .entry .entry-header {
    max-width: 729px;
    text-align: center;
    margin: 0 auto 20px; }
    .entry .entry-header .entry-date {
      font-size: 12px;
      color: #a3a3a3;
      font-weight: 700;
      margin-bottom: 5px; }
      @media (max-width: 480px) {
        .entry .entry-header .entry-date {
          display: none; } }
    .entry .entry-header .entry-title {
      width: 100%;
      margin-bottom: 40px;
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      font-style: italic;
      font-weight: 400;
      word-wrap: break-word; }
      @media (max-width: 480px) {
        .entry .entry-header .entry-title {
          margin-bottom: 12px;
          font-size: 24px;
          padding: 0 25px;
          margin-top: 10px; } }
      .entry .entry-header .entry-title a {
        text-decoration: none;
        font-size: 32px;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 400;
        color: #000; }
        .entry .entry-header .entry-title a:hover {
          color: #aeaeae; }
        @media (max-width: 480px) {
          .entry .entry-header .entry-title a {
            font-size: 24px; } }
    .entry .entry-header .entry-meta {
      width: 100%;
      text-align: left;
      margin-top: 0;
      font-size: 12px;
      color: #000;
      text-align: center; }
      .entry .entry-header .entry-meta span {
        margin: 0 15px; }
      .entry .entry-header .entry-meta a {
        color: #888888; }
      .entry .entry-header .entry-meta .fa:first-child {
        margin: 0 5px 0 0; }
  .entry .entry-content {
    font-family: "Open Sans", sans-serif; }
    .entry .entry-content h2,
    .entry .entry-content h3,
    .entry .entry-content h4,
    .entry .entry-content h5 {
      margin-bottom: 1em;
      margin-top: 1.5em; }
    .entry .entry-content blockquote p {
      color: #333; }
    .entry .entry-content code {
      background: #f0f0f0;
      border: 1px solid #ddd;
      border-radius: 3px;
      display: inline-block;
      padding: 3px 5px; }
    .entry .entry-content .small-thumbnail {
      margin: auto;
      height: 200px;
      width: 200px;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px; }
    .entry .entry-content .entry-thumbnail {
      background-size: cover;
      background-position: 50%;
      margin-bottom: 20px;
      /* 			-webkit-filter: grayscale(100%);
			filter: grayscale(100%); */ }
    .entry .entry-content .content-line {
      padding: 0 92px 65px;
      max-width: 910px;
      margin: 30px auto 0;
      line-height: 1.6;
      border-bottom: 2px solid #efefef; }
      .entry .entry-content .content-line:after {
        content: '';
        display: table;
        clear: both; }
      @media (max-width: 960px) {
        .entry .entry-content .content-line {
          margin: 0;
          padding: 0; } }
      @media (max-width: 480px) {
        .entry .entry-content .content-line {
          padding: 0 10px;
          margin: 0; } }
    .entry .entry-content .attachment {
      text-align: center; }
    .entry .entry-content .entry-footer {
      margin-top: 20px; }
      @media (max-width: 480px) {
        .entry .entry-content .entry-footer {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px; } }
    .entry .entry-content .more-link {
      color: #3f3f3f;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 3px; }
  .entry .single-view .entry-the-content {
    padding: 0px !important; }
  .entry .page-links {
    display: block;
    margin: 1em 0;
    border-top: 1px solid #ddd;
    padding-top: 1em; }
    .entry .page-links a {
      display: inline-block;
      padding: .5em 1em;
      border-bottom: 2px solid black;
      margin-right: 5px;
      color: black;
      font-weight: bold; }
  .entry .gallery {
    text-align: center; }

.not-found .search-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .not-found .search-form label {
    display: inline-block; }
  .not-found .search-form .search-submit {
    width: auto;
    display: inline-block;
    height: 38px; }

.error404 .error-message {
  text-align: center; }

.error404 textarea,
.error404 select {
  width: auto; }

.no-results .page-content p {
  text-align: center; }

.no-results .page-content .search-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .no-results .page-content .search-form label {
    display: inline-block; }
  .no-results .page-content .search-form .search-submit {
    width: auto;
    display: inline-block;
    height: 38px; }

.search-field {
  height: 38px;
  border: 1px solid #bdbdbd; }
